/* IMPORTING DEPENDENCIES */
@-webkit-keyframes appearance {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes appearance {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: #ddd3cf;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: #ddd3cf;
  }
}

/* BORDER-BOX DECLARATION */
html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* USING BEM ARCHITECTURE */
/* MOBILE FIRST */
.header .nav {
  width: 100%;
}

.header .nav .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header .nav .list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 20px;
}

.header .nav .list__item:hover {
  color: black;
}

.header .nav .list.list--modifier {
  background-color: #00b7ff;
  color: white;
  border-bottom: 0.5px solid white;
}

.wrap {
  padding-top: 150px;
  padding-bottom: 15px;
  width: 100%;
  color: white;
  background-color: #00b7ff;
}

.wrap .intro {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrap .intro.intro--modifier {
  color: white;
  background-color: #00b7ff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1.3px;
}

.wrap .intro__brief {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.wrap .intro__brief .brief-paragraph2 {
  display: none;
}

.wrap .intro__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.wrap .intro__image .image {
  width: 70%;
  margin: 10% 15% 10% 15%;
  height: 80%;
}

.wrap .intro__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 20px;
}

.wrap .skills.skills--modifier {
  color: white;
  margin-top: 100px;
  font-size: 16px;
  letter-spacing: 1.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 50px solid #2e2d2d;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 6px;
  padding: 4px;
}

.wrap .skills__heading {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.wrap .skills__image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.wrap .experience.experience--modifier {
  color: white;
  margin-top: 100px;
  font-size: 16px;
  letter-spacing: 1.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 50px solid #2e2d2d;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 6px;
  padding: 4px;
}

.wrap .experience__heading {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.wrap .experience__image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.wrap .academic.academic--modifier {
  color: white;
  margin-top: 100px;
  font-size: 16px;
  letter-spacing: 1.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 50px solid #2e2d2d;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 6px;
  padding: 4px;
}

.wrap .academic__heading {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.wrap .academic__image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.wrap .about.about--modifier {
  color: white;
  margin-top: 100px;
  font-size: 16px;
  letter-spacing: 1.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 50px solid #2e2d2d;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 6px;
  padding: 4px;
}

.wrap .about__heading {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.wrap .about__image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.wrap .hobbies.hobbies--modifier {
  color: white;
  margin-top: 100px;
  font-size: 16px;
  letter-spacing: 1.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 50px solid #2e2d2d;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 6px;
  padding: 4px;
}

.wrap .hobbies__heading {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.wrap .hobbies__image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 8px;
}

.footer.footer--modifier {
  background-color: teal;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
}

.footer__paragraph {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  text-align: center;
  opacity: 0.8;
}

.footer__heading {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-top: 15px;
  opacity: 0.7;
}

.footer__list {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.footer__list .contact {
  list-style-type: none;
  text-align: center;
  opacity: 0.7;
}

/* DESKTOP MODIFICATIONS*/
@media only screen and (min-width: 800px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .wrap .intro {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .wrap .intro.intro--modifier {
    font-size: 16px;
  }
  .wrap .intro__brief {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .wrap .intro__brief .brief-paragraph1 {
    margin-top: 20%;
  }
  .wrap .intro__brief .brief-paragraph2 {
    display: block;
    margin-top: 10%;
  }
  .wrap .intro__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .wrap .intro__image .image {
    width: 70%;
    margin: 10% 15% 10% 15%;
    height: 80%;
  }
  .wrap .intro__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 20px;
  }
  .wrap .skills {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.5%;
            flex: 0 0 42.5%;
    padding-top: 15px;
  }
  .wrap .skills.skills--modifier {
    color: white;
    margin-top: 100px;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-left: 5%;
    margin-right: 0;
    text-align: center;
    border-top: 50px solid #2e2d2d;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    padding: 4px;
  }
  .wrap .experience {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.5%;
            flex: 0 0 42.5%;
  }
  .wrap .experience.experience--modifier {
    color: white;
    margin-top: 100px;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-left: 5%;
    margin-right: 0;
    text-align: center;
    border-top: 50px solid #2e2d2d;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    padding: 4px;
  }
  .wrap .academic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.5%;
            flex: 0 0 42.5%;
  }
  .wrap .academic.academic--modifier {
    color: white;
    margin-top: 100px;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-left: 5%;
    margin-right: 0;
    text-align: center;
    border-top: 50px solid #2e2d2d;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    padding: 4px;
  }
  .wrap .about {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.5%;
            flex: 0 0 42.5%;
  }
  .wrap .about.about--modifier {
    color: white;
    margin-top: 100px;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-left: 5%;
    margin-right: 0;
    text-align: center;
    border-top: 50px solid #2e2d2d;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    padding: 4px;
  }
  .wrap .hobbies {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.5%;
            flex: 0 0 42.5%;
  }
  .wrap .hobbies.hobbies--modifier {
    color: white;
    margin-top: 100px;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-left: 28.75%;
    margin-right: 0;
    text-align: center;
    border-top: 50px solid #2e2d2d;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 6px;
    padding: 4px;
  }
}

/* TABLET MODIFICATIONS */
/*# sourceMappingURL=Stylesheet.css.map */